@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat";
}

html,
body {
  height: 100%;
  width: 100%;
  color: #fff;
}

#cursor {
  height: 20px;
  width: 20px;
  background-color: #95c11e;
  border-radius: 50%;
  position: fixed;
  z-index: 9999;
}
#cursor-blur {
  height: 500px;
  width: 500px;
  background-color: #96c11e2b;
  border-radius: 50%;
  position: fixed;
  filter: blur(40px);
  z-index: 9;
}

#nav {
  position: fixed;
  height: 145px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  padding: 0 120px;
  font-size: 16px;
  font-weight: 500;
  z-index: 999;
}

#nav img {
  height: 75px;
}

#nav h4 {
  text-transform: uppercase;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}

#main {
  position: relative;
  background-color: rgba(0, 0, 0, 0.39);
}

#page1 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 10;
}
#page1 h1 {
  font-size: 140px;
  font-weight: 900;
  position: relative;
}
#page1 h1::before {
  content: "EAT. DRINK. PLAY.";
  position: absolute;
  color: black;
  top: -6px;
  left: -6px;
  -webkit-text-stroke: 2px #95c11e;
  z-index: -1;
}
#page1 h1:hover {
  color: #95c11e;
}

#page1 h2 {
  font-size: 30px;
  font-weight: 800;
  margin: 20px;
}
/* #page1 h2:hover {
  color: #95c11e;
} */

#page1 p {
  font-size: 18px;
  font-weight: 500;
  width: 40%;
}

#page2 {
  min-height: 100vh;
  width: 100%;
  z-index: 10;
}

#scroller {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  position: relative;
  z-index: 10;
}
#scroller::-webkit-scrollbar {
  display: none;
}

#scroller-in {
  display: inline-block;
  white-space: nowrap;
  animation-name: scroll;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#scroller h4 {
  display: inline-block;
  font-size: 140px;
  font-weight: 900;
  font-family: sans-serif;
  text-transform: uppercase;
  margin-right: 10px;
  transition: all linear 0.5;
  -webkit-text-stroke: 2px #95c11e;
  color: transparent;
}
#scroller h4:hover {
  color: #95c11e;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

#about-us {
  height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 50px;
  margin-bottom: 80px;
}
#about-us img {
  height: 220px;
  width: 220px;
  border-radius: 20px;
  object-fit: cover;
  position: relative;
  z-index: 10;
}
#about-us-in {
  width: 40%;
  text-align: center;
}

#about-us-in h3 {
  font-size: 54px;
  font-weight: 900;
  margin-bottom: 40px;
}

#about-us-in p {
  font-size: 21px;
  line-height: 26px;
}

#cards-container {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  position: relative;
  perspective: 1000px;
  z-index: 10;
}

.card {
  height: 95%;
  width: 25%;
  overflow: hidden;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  transition: all ease 0.6s;
}

#card1 {
  background-image: url(Assets/card1.avif);
}

#card2 {
  background-image: url(Assets/card2.webp);
}
#card3 {
  background-image: url(Assets/card3.avif);
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: #95c11e;
  padding: 30px;
  padding-top: 160px;
  opacity: 0;
  transition: all ease 0.6s;
}

.overlay h4 {
  color: #000;
  font-size: 36px;
  font-weight: 800;
  white-space: nowrap;
  margin-bottom: 30px;
}

.overlay p {
  color: #000;
  font-size: 18px;
}

.card:hover .overlay {
  opacity: 1;
}

.card:hover {
  transform: rotate3d(-1, 1, 0, 20deg);
}

#green-div {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  background: linear-gradient(to left bottom, #119f3a, #ace022);
}

#green-div h4 {
  width: 50%;
  font-size: 32px;
  text-align: center;
  line-height: 50px;
  color: #000;
}
#green-div img {
  height: 100%;
  object-fit: cover;
  width: 15%;
}
#food-info {
  margin-top: 50px;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 100px;
  gap: 9.5vh;
}

#food-info img {
  height: 80%;
  object-fit: cover;
  width: 50%;
  border-radius: 20px;
}

#food-text {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  padding: 50px 50px;
  line-height: 50px;
}
#food-text h2 {
  font-weight: 900;
  font-size: 50px;
  margin-bottom: 50px;
}

#food-text p {
  font-size: 30px;
}
#food-text button {
  height: 80px;
  width: 200px;
  font-size: 20px;
  margin-top: 50px;
  color: #fff;
  background-color: transparent;
  border-radius: 40px;
  border-style: solid;
  border-color: #a3d421;
  padding: 2px 10px;
  z-index: 23;
  font-weight: 700;
}
#food-text button:hover{
  background-color: #95c11e;
  color: #000;
  transition: all ease 0.6s;

}

#page3 {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#page3 > p {
  font-size: 35px;
  font-weight: 700;
  width: 60%;
  line-height: 45px;
  text-align: center;
}

#page3 img {
  position: absolute;
  height: 60px;
}

#page3 #colon1 {
  left: 15%;
  top: 25%;
}
#page3 #colon2 {
  right: 15%;
  bottom: 30%;
}

#page4 {
  height: 50vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.elem {
  height: 60%;
  width: 520px;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}

.elem h2 {
  height: 100%;
  width: 100%;
  background-color: #95c11e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: #000;
  font-weight: 800;
  position: absolute;
  z-index: 10;
  transition: all ease 1s;
}

.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 1.1;
}

.elem:hover h2 {
  color: #fff;
  background-color: transparent;
}

.elem:hover img {
  scale: 1;
}

#page4 h1 {
  font-size: 110px;
  position: absolute;
  top: -1%;
  font-weight: 800;
  font-family: sans-serif;
  color: #000;
  -webkit-text-stroke: 2px #fff;
}

#footer {
  height: 40vh;
  width: 100%;
  background: linear-gradient(to left bottom, #119f3a 0%, #a3d421 80%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6.5vw;
  padding: 0 100px;
}
#footer > img {
  position: absolute;
  left: 0;
  height: 100%;
  z-index: 0;
}
#f1 img {
  height: 100px;
}
#f1,
#f2,
#f3,
#f4 {
  width: fit-content;
  position: relative;
  z-index: 99;
  /* background-color: red; */
}
#f2 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 900;
  margin-bottom: 8px;
}

#f3 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 800;
  margin-bottom: 8px;
}
#f4 h4 {
  font-size: 1vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 8px;
}
